<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @skill.active %>
</p>

<%= link_to 'Edit', edit_admin_skill_path(@skill) %> |
<%= link_to 'Back', admin_skills_path %>
