
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <h1>Listing axes</h1>

      <table class="table table-striped table-hover table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Game Type</th>
            <th>Active</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @axes.each do |axis| %>
            <tr>
              <td><%= axis.id %></td>
              <td><%= axis.name %></td>
              <td><%= axis.description %></td>
              <td><%= axis.value %></td>
              <td><%= axis.game_type %></td>
              <td><%= axis.active %></td>
              <td><%= link_to 'Show', admin_axis_path(axis) %></td>
              <td><%= link_to 'Edit', edit_admin_axis_path(axis) %></td>
              <td><%= link_to 'Destroy', admin_axis_path(axis), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Axis', new_admin_axis_path %>
    </div>
  </div>
</div>
